{% extends "cafe/base.html" %}

{% block body %}
<div class="wrapper">
    <div class="main" id="shadow">
        <p>현재 <span class="num" id="coffee">28</span> 컵의 커피☕가 준비되어 있습니다.</p>
        <p>커피봇이 총 <span class="num" id="order">123</span> 번 주문을 받았습니다.</p>
    </div>

    <div class="menu">
        {% if not user.is_authenticated %}
            <a href="{% url 'accounts:login' %}" class="button first">로그인</a>
            <a href="{% url 'accounts:signup' %}" class="button second">회원가입</a>
        {% elif user.user_type == 'barista' %}
            <a href="#" class="button first">재고확인</a>
            <a href="{% url 'accounts:logout' %}" class="button second">로그아웃</a>
        {% else %}
            <a href="{% url 'cafe:bot' %}" class="button first">주문하기</a>
            <a href="{% url 'accounts:logout' %}" class="button second">로그아웃</a>
        {% endif %}
    </div>
</div>
{% endblock %}